/*plantilla.html*/
*{
    box-sizing: border-box;
}


body,h1, header{
    margin: 0;
    padding: 0;

}

h1{
    font-size: 3em;
    color: white;
}

header{
    grid-area: header;
    background-color:#263140;


}


main{
    grid-area: main;
    margin-top: 60px;
 
   
}

footer{
    grid-area: footer;
    border-style: solid;
    border-color: black;
  
}

nav{
    margin: 0;
    padding: 0;
    grid-area: nav;
    background-color: grey;
    
}


@media screen and (min-width:500px){
    
   
    header{
        display:block;
    }
    
   
}
