/*** MENU HAMBURGUESA*****/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}

li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}

li a {
    display:block;
    min-width:140px; 
    height: 40px;
    text-align: center;
    /*line-height: 50px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background: grey;
    text-decoration: none;
}

li:hover a {
    background: #111;
}

li:hover ul a {
    background: white;
   /* color: #2f3036;*/
    height: 40px;
    line-height: 40px;
}

li:hover ul a:hover {
    background: #111;
    color: white;
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    /*width: 100%;*/
    min-width: 100px;
    padding: 0 20px;
}

ul li a:hover /*+ .hidden, .hidden:hover */{
    display: block;
}

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
    background: grey; /*SE CAMBIARA EL COLOR AL DE EL HEADER*/
    text-align: center;
    padding: 10px 0;
    display: none;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}
.active {
    background-color: darkblue;

}


/*Responsive Styles*/
@media screen and (max-width : 760px){

    ul {
        position: static;
        display: none;
    }
    li {
        margin-bottom: 1px;
    }
    ul li, li a {
        width: 100%;
    }
    .show-menu {
        display:block;
    }
    .show-menu::after{
        content: url(../Images/burger_icon3.png);
    }
    nav{
        width: 20%;
    }
}