
header{
    background-color: $color1;
    height: 30px;
    border: 1px white;
}

aside{
    background-color: red;
    border: 1px white;
    
}
section{
 
    div nav{
        background-color: pink;
        height: 30px;
        border: 1px white;
       
    }
    div .naranja{
     
        background-color: orange;
        height: 30px;
        border: 1px white;
       

    }
    div .azul{
      
        background-color: blue;
        height: 30px;
        border: 1px white;
      
    }
}
footer{
    background-color: $color1;
    height: 30px;
    border: 1px white;
}