$color:green, pink, orange, blue, red;

$color1:green;
div{
   border: 1px white;
}
header{
    background-color: $color1;
    height: 20px;
}
section{
    background-color: red;
    height: 20px;
}
p{
    margin: 0;
    padding: 0;
}
section{
 
    nav{
        background-color: purple;
        height: 20px;
       
    }
    #content_primero  div{
     
        background-color: orange;
        height: 20px;
       

    }
    #content_segundo div{
      
        background-color: blue;
        height: 20px;
      
    }
}
footer{
    background-color: $color1;
    height: 20px;
}