@charset "UTF-8";
@import "helper/variables";
@import "helper/animations";
@import "helper/placeholders";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  padding-top: 5%;
  background-color: #F1F2F3;
}

h3 {
  color: $blue;
  font-family: $slogan-font;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: $slogan-spacing;
  line-height: 1.4;
  position: relative;
  padding-top: 2%;
  left: -6.3%;  
}

circle {
  opacity: 1;
}


