$color:pink, purple, blue, lightblue, darkgrey,aqua;

div{
    border: 3px solid white; 
    height: 60px;
}
header{

background-color: aqua;
height: 60px;
}

section{

    background-color: purple;

}

footer{
    background-color: blue;
}